# Copy this file to .env.dev, .env.qa, .env.uat, and .env.prod (and optionally .env)
# then update values per environment.

# API base URL
BASE_URL=https://mock-forge-express.lovable.app/api/public/mock/flutter-template-l4r8p7i9/dev/

# Local storage
HIVE_BOX_NAME=FlutterTemplateApp
